
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Welcome to MVC tutorial</h1>
        <a href="/home/aboutus">About Us</a><br />
        <a href="/home/contactus">Contact Us</a><br/>
        <a href="/employee/index">Employee Information</a>
    </div>
</body>
</html>
